<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jkhezi" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>久庫</name>
    <description>
        共享 免费 优质 资源
    </description>
    <author email="dev@cordova.apache.org" href="http://9khezi.com/">
        9khezi.com
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <preference name="StatusBarBackgroundColor" value="#1976d2" />
    <plugin name="cordova-plugin-brightness" spec="^0.2.0" />
    <preference name="SplashScreenDelay" value="0" />
</widget>
